{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h1>
        Quote Stock
    </h1>
    <table class="table">
        <thead>
            <th>
                <!-- 銘柄記号 -->
                Stock Symbol
            </th>
            <th>
                <!-- 株式銘柄 -->
                Stock Name
            </th>
            <th>
                <!-- 現在の価格 -->
                Current Price
            </th>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ symbol }}
                </td>
                <td>
                    {{ name }}
                </td>
                <td>
                    {{ price }}
                </td>
            </tr>

        </tbody>
    </table>

    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="stocksymbol" placeholder="Stocksymbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
{% endblock %}
